.button{
    height: 100px;
    width: 300px;

}
#button{
    align-self: center;
}
#jokeBTN{
    margin-top: 20px;
}
#input{
    height: 30px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
#body{
    text-align: center;
}